{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="container">
        <header class="u-full-width">
            <h1>Список остановок наземного транспорта</h1>
        </header>

        {% if not bus_stations %}
            <p class="u-text-center">Нет данных об остановках</p>
        {% else %}
            <table class="u-full-width u-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Street</th>
                        <th>District</th>
                    </tr>
                </thead>
                <tbody>
                    {% for station in bus_stations %}
                        <tr class="{% cycle 'highlight' '' %}">
                            <td>{{ station.Name }}</td>
                            <td>{{ station.Street }}</td>
                            <td>{{ station.District }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <div class="pagination u-clearfix">
        </div>
    </div>
</body>
</html>
